{% extends "layouts/squelette.html" %}

{% block titre_page %} 
	<div class="col-md-9 title-page">
		<h2> Examens et Vaccins </h2>
	</div> 
{% endblock %}

{% block nom_patient %}<h2> DMP: Moussa DIOP </h2>{% endblock %}

{% block menu %}
	<div class="row">
		<div class="col-md-12 general">
			<p class="">General</p>
		</div>
	</div>
	<div class="row menuR">
        <div class="col-md-12 menu">
            <a href="{{ url_for("lister_consultations") }}"><div class="row bordureMenu" style="font-weight: bold;">Consultations</div></a>
        </div>
    </div>
    <div class="row menuR">
        <div class="col-md-12 menu">
            <a href="{{ url_for("lister_examens") }}"><div class="row bordureMenu-active" style="font-weight: bold;">Examens et vaccins</div></a>
        </div>
    </div>
    <div class="row menuR">
        <div class="col-md-12 menu">
            <a href="{{ url_for("lister_antecedents") }}"><div class="row bordureMenu" style="font-weight: bold;">Antécédents et allergies</div></a>
        </div>
    </div>
    <div class="row menuR">
        <div class="col-md-12 menu">
            <a href="{{ url_for("lister_hospitalisations") }}"><div class="row bordureMenu" style="font-weight: bold;">Rendez-vous et hospitalisations</div></a>
        </div>
    </div>
{% endblock %}


{% block bouton_supprimer %}
	
{% endblock %}


{% block contenu_page %}
	<div class="col-md-6">
        <h2> Examens </h2>
		<table class="table table-bordered sunu-tableau">
			<thead class="thead-light">
			<tr>
				<th scope="col" class="col-md-4">Date</th>
				<th scope="col" class="col-md-4">nom</th>
				<th scope="col">Action</th> 
				<!-- <th scope="col">Action</th> -->
			</tr>
			</thead>
			<tbody>

			{% for examen in examens %}
			<tr>
                <th scope="row">{{ examen["date"] }}</th>
                <td>{{ examen["nom"] }}</td>
						
				
			</tr>


			{% endfor %}


			</tbody>
		</table>
		
		
    </div>
    
    <div class="col-md-6">
        <h2> Vaccins </h2>
		<table class="table table-bordered sunu-tableau">
			<thead class="thead-light">
			<tr>
				<th scope="col" class="col-md-3">Date</th>
				<th scope="col" class="col-md-3">Vaccin</th>
				<th scope="col">Vaccinateur</th>
				<!-- <th scope="col">Action</th> -->
			</tr>
			</thead>
			<tbody>

			{% for vaccin in vaccins %}
			<tr>
				<th scope="row">{{ vaccin["date"] }}</th>
				<td>{{ vaccin["vaccin"] }}</td>
				<td>{{ vaccin["vaccinateur"] }}</td>		
				
			</tr>


			{% endfor %}


			</tbody>
		</table>
		
	
		
	</div>
{% endblock %}